.courses-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    align-items: center;

    app-search {
        flex-grow: 1;
    }

    .add-course {
        position: fixed;
        z-index: 100;
        bottom: 30px;
        right: 30px;
    }
}