<div class="search">
  <mat-form-field class="search-input">
    <input matInput placeholder="Name, fragment or date" [(ngModel)]="query">
  </mat-form-field>
  <button mat-raised-button (click)="find()">Search</button>
</div>
