.search {
    display: flex;
    align-items: center;

    &-input {
        flex-grow: 1;
        max-width: 400px;
        min-width: 150px;
        margin-right: 20px;
    }

    button {
        height: 36px;
    }
}