<div class="courses-list">
    <app-course *ngFor="let course of courses" [item]="course" (afterDelete)="showId(course.id)"></app-course>
    <button mat-raised-button color="accent" class="courses-list-load-more" (click)="loadMore()">Load more</button>
</div>