.course {
    max-width: 280px;
    width: 100%;
    margin-bottom: 20px;

    .header {
        margin-bottom: 10px;

        .mat-caption {
            display: flex;
            justify-content: space-between;
        }
    }

    .actions {
        display: flex;
        justify-content: space-around;
    }
}