<mat-card class="course">
  <div class="header">
    <div class="mat-subheading-1">{{ item.title }}</div>
    <div class="mat-caption">
      <span>{{ item.creationDate }}</span>
      <span>{{ item.duration }}</span>
    </div>
  </div>
  <img mat-card-image [src]="item.imageLink" alt="agular">
  <mat-card-content>
    <p>
      {{ item.description }}
    </p>
  </mat-card-content>
  <mat-card-actions class="actions">
    <button mat-button>Edit</button>
    <button mat-button (click)="delete()">Delete</button>
  </mat-card-actions>
</mat-card>