<mat-toolbar class="header">
  <a href="/">
      <img class="header-logo" src="assets/images/angular.svg" alt="angular logo">
  </a>
  <span class="header-spacer"></span>
  <span class="mat-body-1">{{ user.login }}</span>
  <button mat-button color="primary" class="header-log-off">Log off</button>
</mat-toolbar>