<div class="breadcrumbs">
  <span class="breadcrumbs-item" *ngFor="let item of items">
      <a class="mat-button" routerLink="item.url">{{ item.text }}</a>
      <span>/</span>
  </span>
</div>
